.main_body{
  padding: 4rem;
  text-align: left;
  background-color: #f580bae7;
  border-bottom: 2px solid rgb(131, 13, 209);
}
.aviso_404{
  color: brown;
  text-decoration: lawngreen;
}
.center{
  width: 60%;
  margin: 0% 40% 0% 40%;
  align-items: left;
}
.userPartials{
  text-align:left;
}